@{
    ViewBag.Title = "FaceList";
    ViewBag.MenuKey = "Face";
}
<div class="layout-content-head">
    <h2>驾驶舱管理 -> 列表</h2>
</div>
<div class="layout-content-main">
    <table class="l-table" style="min-width: 800px;">
        <thead>
            <tr>
                <th style="width:120px;">封面序号</th>
                <th style="width:150px;">封面类型</th>
                <th>参数内容</th>
                <th style="width:80px;">封面大小</th>
                <th style="width:80px;">@Html.ActionLink(" ", "FaceModify", new { controller = "Manager" }, new { @class = "create" })</th>
            </tr>
        </thead>
        @*<tbody id="tbody_FaceList" binding="{'pageId':'page_FaceList','pageCallback':'GetFaceList'}">*@
        <tbody id="tbody_FaceList" >           
            <tr>
                <td binding="{'html':'sortno'}"></td>
                <td binding="{'html':'facetype','htmlData':FACETYPE}"></td>
                <td binding="{'html':'facecontent'}"></td>
                <td binding="{'html':'facesize','htmlData':FACESIZE}"></td>
                <td><a class="edit" binding="{'onclick':'faceid','onclickFormat':'EditFace({0})'}"></a><a class="delete" binding="{'onclick':'faceid','onclickFormat':'DeleteFace({0})'}"></a></td>
            </tr>
        </tbody>
        <!--tfoot>
            <tr>
                <td id="page_LogList" colspan="5"></td>
            </tr>
        </tfoot-->
    </table>
</div>
<script type="text/javascript">
    var FACESIZE = {
        1: "1*1",
        2: "1*2"
    };

    var FACETYPE = {
        2: "专题封面",
        3: "图片封面",
        4: "视频封面"
    };
    
    $(function () {
        GetFaceList();
    });

    function GetFaceList() {
        $.L.ajaxHandle({
            type: "post",
            cache: "false",
            url: ACTION_URL("GetAllFace", "Manager"),
            data: {
                //pageIndex: pageIndex
            },
            success: function(response) {
                $("#tbody_FaceList").L_bindingDataList(response);
            }
        });
    }


    function DeleteFace(faceid) {
        $.L.messageConfirmT("确定删除这条数据？", function() {
            $.L.ajaxHandle({
                type: "post",
                cache: "false",
                data: { faceid: faceid },
                url: ACTION_URL("DeleteFaceById", "Manager"),
                error: function() {
                    alert("error");
                },
                success: function(response) {
                    //alert("Delete Success!");
                    window.location.href = '@Url.Action("FaceList","Manager")';
                }
            });
        });
    }

    function EditFace(faceid) {
        window.location.href = '@Url.Action("FaceModify", "Manager")' + '?faceid=' + faceid;
    }
</script>