
@{
    ViewBag.Title = "LogList";
    ViewBag.MenuKey = "Log";
}
<div class="layout-content-head">
    <h2>日志管理 -> 列表</h2>
</div>
<div class="layout-content-main">
    <table class="l-table" style="min-width: 900px;">
        <thead>
            <tr>
                <th style="width:120px;">日志ID</th>
                <th style="width:180px;">日志类型</th>
                <th>日志内容</th>
                <th style="width:250px;">记录时间</th>
                <th style="width:80px;">@Html.ActionLink(" ","LogModify",new{controller = "Manager"},new{@class = "create"})</th>
            </tr>
        </thead>
        <tbody id="tbody_LogList" binding="{'pageId':'page_LogList','pageCallback':'GetLogList'}">
                <tr >
                    <td binding="{'html':'logid'}"></td>
                    <td binding="{'html':'logtype'}"></td>
                    <td binding="{'html':'logcontent'}"></td>
                    <td binding="{'html':'logtime','htmlHandle':'datetime'}"></td>
                    <td><a class="edit" binding="{'onclick':'logid','onclickFormat':'edit_log({0})'}"></a><a class="delete" binding="{'onclick':'logid','onclickFormat':'DeleteLog({0})'}"></a></td>
                </tr>
        </tbody>
        <tfoot>
                <tr>
                    <td id="page_LogList" colspan ="5"></td>
                </tr>
        </tfoot>
    </table>
</div>
<script type="text/javascript">
    $(function () {
        GetLogList();
    });

    function GetLogList(pageIndex) {
        $.L.ajaxHandle({
            type: "post",
            cache: "false",
            url: ACTION_URL("GetAllLog", "Manager"),
            data: {
                pageIndex: pageIndex
            },
            success: function (response) {
                $("#tbody_LogList").L_bindingDataList(response);
            }
        })
    }


    function DeleteLog(logid) {
        $.L.messageConfirmT("确定删除这条日志？", function () {
            $.L.ajaxHandle({
                type: "post",
                cache: "false",
                data: { id: logid },
                url: ACTION_URL("DeleteLogById", "Manager"),
                error: function () {
                    alert("error");
                },
                success: function (response) {
                    //alert("Delete Success!");
                    //GetLogList();
                    window.location.href = '@Url.Action("LogList","Manager")';
                }
            });
        })
    }

    function edit_log(logid) {
        window.location.href = '@Url.Action("LogModify", "Manager")' + '?logid=' + logid;
    }
</script>