@{
    ViewBag.Title = "FaceList";
    ViewBag.MenuKey = "Sync";
}
<div class="layout-content-head">
    <h2>同步管理 -> 省厅视频</h2>
</div>
<div class="layout-content-main" style="overflow:auto;">
    <button style="padding:10px 30px;margin-top:100px;" onclick="ConnectSTAPI(this)">连接省厅视频资源接口</button>
    <div id="div_videoList" style="display:none;">
        <table id="table_videoList" class="l-table" style="min-width:800px;">
            <thead>
                <tr>
                    <th>视频名称</th>
                    <th>视频描述</th>
                    <th style="width:180px;">视频类型</th>
                    <th style="width:150px;">所属单位</th>
                    <th style="width: 60px;">经纬度</th>
                    <th style="width:80px;">@Html.ActionLink(" ", "VideoModify", new { controller = "Manager" }, new { @class = "create" })</th>
                </tr>
            </thead>
            <tbody id="tbody_VideoList">
                <tr>
                    <td binding="{'html':'videoname'}"></td>
                    <td binding="{'html':'videodesc'}"></td>
                    <td binding="{'html':'videosource'}"></td>
                    <td binding="{'html':'videounit'}"></td>
                    <td>已设置</td>
                    <td>
                        <a class="edit" binding="{'onclick':'videoid','onclickFormat':'edit_video({0})'}"></a>
                        <a class="delete" onclick="DeleteVideo(this)" binding="{'videoid':'videoid'}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".layout-content-main").css({
            "height": document.documentElement.clientHeight - 140 + "px"
        })
        //GetFaceList();
    });

    function ConnectSTAPI(obj) {
        $.L.ajaxHandle({
            type: "post",
            cache: "false",
            url: ACTION_URL("GetProvinceVideoApi", "Manager"),
            success: function (response) {
                if (response.error) {
                    $.L.messageErrorT(response.error);
                } else {
                    $(obj).hide();
                    $("#div_videoList").show();
                    $("#tbody_VideoList").L_bindingDataList(response);
                }
            }
        });
    }
</script>