@{
    ViewBag.Title = "FaceList";
    ViewBag.MenuKey = "YCVideo";
}
<div class="layout-content-head">
    <h2>视频同步 -> 云创视频</h2>
</div>
<div class="layout-content-main">
    共<span style="color:red;font-weight:bolder;font-size:18px;" id="count"></span>个新数据    <button onclick="updateALL(0)" style="padding:3px 10px;">立即更新全部数据</button>
    当前更新第<span style="color:red;font-weight:bolder;font-size:18px;" id="count2">0</span>个新数据
    <p></p>
    <br />
    <div style="height: 400px; overflow: auto;">
        <table class="l-table" style="min-width: 800px; ">
            <thead>
                <tr>
                    <th style="width:120px;">序号</th>
                    <th style="width:120px;">名称</th>
                    <th style="width:150px;">访问ID</th>
                </tr>
            </thead>
            <tbody id="tbody_YCVideoList">
                <tr>
                    <td binding="{'html':'Binding_Index'}"></td>
                    <td binding="{'html':'Camera_name'}"></td>
                    <td binding="{'html':'ID'}"></td>
                    @*<td><a class="edit" binding="{'onclick':'faceid','onclickFormat':'EditFace({0})'}"></a><a class="delete" binding="{'onclick':'faceid','onclickFormat':'DeleteFace({0})'}"></a></td>*@
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    var YCVideoList = [];
    var YCVideoListNeedUpdate = [];
    var MyVideoList = [];
    var MyVideoListDIC = [];
    $(function () {
        GetMyVideoList();
    });

    function Get320VideoList() {
        $.ajax({
            type: "get",
            cache: "false",
            dataType: "jsonp",
            url: "http://59.201.5.165/ycvideo/Home/YC_getCameraOfGroupAjax?jsoncallback=?",
            data: {
                cameraGroupId: 19,
                page: 0,
                pageSize: 1000
            },
            success: function (response) {
                YCVideoList = response.list;

                YCVideoListNeedUpdate = $.grep(YCVideoList, function (a, i) {
                    if (a.longitude == "") a.longitude = "118.01";
                    if (a.latitude == "") a.latitude = "32.01";
                    return !MyVideoListDIC["accessid_" + a.ID];
                })
                $("#count").html(YCVideoListNeedUpdate.length);
                $("#tbody_YCVideoList").L_bindingDataList(YCVideoListNeedUpdate);
            }
        });
    }

    function GetMyVideoList() {
        $.L.ajaxHandle({
            url: ACTION_URL("GetAllVideo", "Manager"),
            data: { pageSize: 100000, justEnable: 1 },
            success: function (response) {
                MyVideoList = $.grep(response.PageData, function (a) { return a.videosource == 20 });
                $.each(MyVideoList, function (index, ele) {
                    MyVideoListDIC["accessid_" + ele.videoaccess] = ele;
                })

                Get320VideoList();
            }
        })
    }

    function updateALL(index) {
        if (index == YCVideoListNeedUpdate.length) {
            $.L.messageSuccessT("更新完成", function () {
                location.reload();
            })
            return;
        }
        $.L.ajaxHandle({
            type:"post",
            url: ACTION_URL("UpdateYcVideoNeedUpdate", "Manager"),
            data: YCVideoListNeedUpdate[index],
            success: function (response) {
                index++;
                $("#count2").html(index);
                updateALL(index);
            }
        })
    }
</script>