<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="huanbaoju" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=32.33.1.132)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=orcl)));User ID=bsdt;Password=tuhui20160105;" providerName="Oracle.DataAccess.Client"/>-->
  <!--办事大厅-->
  <add name="huanbaoju" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=OH)));User ID=test;Password=test;" providerName="Oracle.DataAccess.Client"/>

  <!--双向转诊-->
  <add name="DbOH" connectionString="Data Source=.;Initial Catalog=Test;Integrated Security=false;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>

</connectionStrings>


