<?xml version="1.0"?>
<NameValue>
  <Item>
    <!--<add key="OH_Qmap_Server_Url" value="http://192.168.11.100:1011/3dtest/tuxinggroup/aolong"/>-->
    
    <!--<add key="OH_Qmap_Server_Url" value="http://192.168.11.100:1011/3dtest/tuxinggroup/OHmodel0524"/>
    <add key="OH_Qmap_Server_UrlLj" value="http://192.168.11.100:1011/3dtest/3d/lj_20130703export"/>-->

    <!--<add key="OH_Qmap_Server_Url" value="https://3dope.nanjing2014.org/Model3D/PC/ZongLanNew"/>-->
    <add key="OH_Qmap_Server_Url" value="http://www.tuhuitech.com:1011/3dtest/pg/OH/zonglan/"/>
    
    <add key="OH_Qmap_Server_UrlLj" value="http://tuhuitech.com/3dtest/3d/lj_20130703export"/>

    <!--<add key="OH_Qmap_Server_Url" value="/OH12/OHmodel0524"/>-->
    <!--<add key="OH_Qmap_Server_UrlLj" value="/OH12/lj_20130703export"/>-->

    <!--是否显示报警信息 0:不显示 1:显示-->
    <add key="OH_isShowAlarmInfo" value="1"/>
  </Item>
</NameValue>
