<?xml version="1.0"?>
<GlobalSetting>
  <Site>
    <Debugger>true</Debugger>
    <!--网站ID,可以不填，会默认生成一个-->
    <ID></ID>
    <!--网站名称-->
    <Name>南京南站三维综合导览查询系统</Name>
    <!--网站地址(以'/'结尾)-->
    <Url>http://www.tuhui.com/OH/</Url>
    <!--错误页面地址(默认是~/home/error)-->
    <ErrorUrl>~/home/error</ErrorUrl>
  </Site>
  <API>
    <Sys>
      <OH>3D赛事展示相关接口</OH>
    </Sys>
  </API>
</GlobalSetting>
