<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <log4net debug="true">
    <logger name="SystemExceptionLogger">
      <level value="FATAL" />
      <appender-ref ref="SystemExceptionLoggerFile"/>
    </logger>
    <logger name="UserExceptionLogger">
      <level value="ERROR" />
      <appender-ref ref="UserExceptionLoggerFile"/>
    </logger>
    <logger name="ControllerActionLogger">
      <level value="INFO" />
      <appender-ref ref="ControllerActionLoggerFile"/>
    </logger>
    <logger name="CustomLogger">
      <level value="INFO" />
      <appender-ref ref="CustomLoggerFile"/>
    </logger>

    <appender name="SystemExceptionLoggerFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log\\SystemException\\Log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.xml&quot;"/>
      <maximumFileSize value="1MB"/>
      <param name="StaticLogFileName" value="false"/>
      <!--layout-->
      <layout type="log4net.Layout.XmlLayout,log4net">
        <param name="ConversionPattern" value="[%-5level] %date{MM/dd HH:mm:ss.fff} [%ndc]:  %logger.%M %message%newline"/>
        <param name="Header" value="&lt;SystemException_Logger&gt;"/>
        <param name="Footer" value="&lt;/SystemException_Logger&gt;"/>
      </layout>
    </appender>

    <appender name="UserExceptionLoggerFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log\\UserException\\Log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.xml&quot;"/>
      <maximumFileSize value="1MB"/>
      <param name="StaticLogFileName" value="false"/>
      <!--layout-->
      <layout type="log4net.Layout.XmlLayout,log4net">
        <param name="ConversionPattern" value="[%-5level] %date{MM/dd HH:mm:ss.fff} [%ndc]:  %logger.%M %message%newline"/>
        <param name="Header" value="&lt;UserException_Logger&gt;"/>
        <param name="Footer" value="&lt;/UserException_Logger&gt;"/>
      </layout>
    </appender>

    <appender name="ControllerActionLoggerFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log\\ControllerAction\\Log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.xml&quot;"/>
      <maximumFileSize value="1MB"/>
      <param name="StaticLogFileName" value="false"/>
      <!--layout-->
      <layout type="log4net.Layout.XmlLayout,log4net">
        <param name="ConversionPattern" value="[%-5level] %date{MM/dd HH:mm:ss.fff} [%ndc]:  %logger.%M %message%newline"/>
        <param name="Header" value="&lt;ControllerAction_Logger&gt;"/>
        <param name="Footer" value="&lt;/ControllerAction_Logger&gt;"/>
      </layout>
    </appender>

    <appender name="CustomLoggerFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="Log\\Custom\\Log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Composite"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.xml&quot;"/>
      <maximumFileSize value="1MB"/>
      <param name="StaticLogFileName" value="false"/>
      
      <!--layout-->
      <layout type="log4net.Layout.XmlLayout,log4net">
        <param name="ConversionPattern" value="[%-5level] %date{MM/dd HH:mm:ss.fff} [%ndc]:  %logger.%M %message%newline"/>
        <param name="Header" value="&lt;Custom_Logger&gt;"/>
        <param name="Footer" value="&lt;/Custom_Logger&gt;"/>
      </layout>
    </appender>
  </log4net>
</configuration>