<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DbOH" connectionString="Data Source=(local);Initial Catalog=db_OH_qa;Integrated Security=false;uid=sa;pwd=root001" providerName="System.Data.SqlClient"/>-->
  <!--<add name="DbOH" connectionString="Data Source=www.tuhuitech.com,13341;Initial Catalog=db_OH;Integrated Security=false;uid=sa;pwd=root001" providerName="System.Data.SqlClient"/>-->
  <!--<add name="DbOH" connectionString="Data Source=10.3.1.11;Initial Catalog=db_OH;Integrated Security=false;uid=sql_3ds;pwd=Nanjing2014" providerName="System.Data.SqlClient"/>-->
  <add name="huanbaoju" connectionString="Data Source=192.168.11.53/OHI;User ID=Tuhui_OHI;PassWord=tuhui" providerName="Oracle.DataAccess.Client"/>
</connectionStrings>


