<?xml version="1.0"?>
<CacheSetting>
  <!--None:无缓存模式 HttpRuntime:运行时存储模式-->
  <Type>HttpRuntime</Type>
  <HttpRuntime>
    <!--绝对到期时间，例如：'2012/12/13 10:11:11'-->
    <Absolute>2012/12/13 10:11:11</Absolute>
    <!--数据最后一次使用时间经过指定时间后清除(以秒为单位),例如：180,则表示数据最后一次使用后3分钟清除-->
    <!--如果此项已经设置,则无视Absolute的值-->
    <Duration>10</Duration>
    <!--缓存存储优先度(1：Low  2：BelowNormal  3：Normal  4：Default  5：AboveNormal  6：High  7：NotRemovable  默认值是4)-->
    <Priority>5</Priority>
  </HttpRuntime>
</CacheSetting>
