<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--连接字符串设置-->
  <connectionStrings>
    <!--sqlserver数据库-->
    <add name="sqlserver" connectionString="Data Source=11.40.33.66;Initial Catalog=fybjyapp;Integrated Security=false;uid=sa;pwd=Root001" providerName="System.Data.SqlClient"/>
    <!--oracle数据库-->    
    <add name="oracle" connectionString="Data Source=192.168.10.20:1521/orcl;Persist Security Info=True;User ID=ggwsapp;Password=ggwsapp;Unicode=True" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <appSettings >
     <!--每隔半天执行一次-->
     <add key = "interval_t" value = "43200000" />
     <!--首次每隔2秒执行一次-->
     <add key = "interval_f" value = "2000" />
  </appSettings >
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>