@-webkit-keyframes KF_tmap-th-marker-jump {
    from {
        margin-top: 0px;
    }

    50% {
        margin-top: -20px;
    }

    to {
        margin-top: 0px;
    }
}

@-ms-keyframes KF_tmap-th-marker-jump {
    from {
        margin-top: 0px;
    }

    50% {
        margin-top: -20px;
    }

    to {
        margin-top: 0px;
    }
}

@-webkit-keyframes KF_tmap-th-marker-swing {
    from {
        margin-left: 0px;
    }

    50% {
        margin-left: -20px;
    }

    to {
        margin-left: 0px;
    }
}

@-ms-keyframes KF_tmap-th-marker-swing {
    from {
        margin-left: 0px;
    }

    50% {
        margin-left: -20px;
    }

    to {
        margin-left: 0px;
    }
}

@-webkit-keyframes KF_tmap-th-marker-rotateX {
    from {
        -webkit-transform: rotateX(0deg);
    }

    to {
        -webkit-transform: rotateX(360deg);
    }
}

@-ms-keyframes KF_tmap-th-marker-rotateX {
    from {
        -ms-transform: rotateX(0deg);
    }

    to {
        -ms-transform: rotateX(360deg);
    }
}

@-webkit-keyframes KF_tmap-th-marker-rotateY {
    from {
        -webkit-transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(360deg);
    }
}

@-ms-keyframes KF_tmap-th-marker-rotateY {
    from {
        -ms-transform: rotateY(0deg);
    }

    to {
        -ms-transform: rotateY(360deg);
    }
}

@-webkit-keyframes KF_tmap-th-marker-rotateZ {
    from {
        -webkit-transform: rotateZ(0deg);
    }

    to {
        -webkit-transform: rotateZ(360deg);
    }
}

@-ms-keyframes KF_tmap-th-marker-rotateZ {
    from {
        -ms-transform: rotateZ(0deg);
    }

    to {
        -ms-transform: rotateZ(360deg);
    }
}

@-webkit-keyframes KF_tmap-th-marker-scale {
    from {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(0);
    }
}

@-ms-keyframes KF_tmap-th-marker-scale {
    from {
        -ms-transform: scale(0);
    }
    50% {
        -ms-transform: scale(1);
    }
    to {
        -ms-transform: scale(0);
    }
}

.tmap-th-div-icon {

}

.tmap-th-transition {
        -ms-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
}


    .tmap-th-div-icon .div-icon-div {
        -ms-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -o-transition: all ease 0.5s;
        transition: all ease 0.5s;
    }

.tmap-th-marker-jump {
    -moz-animation: KF_tmap-th-marker-jump 0.8s ease-in-out infinite;
    -webkit-animation: KF_tmap-th-marker-jump 0.8s ease-in-out infinite;
    -o-animation: KF_tmap-th-marker-jump 0.8s ease-in-out infinite;
    animation: KF_tmap-th-marker-jump 0.8s ease-in-out infinite;
}

.tmap-th-marker-swing {
    -moz-animation: KF_tmap-th-marker-swing 0.8s ease-in-out infinite;
    -webkit-animation: KF_tmap-th-marker-swing 0.8s ease-in-out infinite;
    -o-animation: KF_tmap-th-marker-swing 0.8s ease-in-out infinite;
    animation: KF_tmap-th-marker-swing 0.8s ease-in-out infinite;
}

.tmap-th-marker-rotateX {
    -moz-animation: KF_tmap-th-marker-rotateX 1.5S ease-in-out infinite;
    -webkit-animation: KF_tmap-th-marker-rotateX 1.5S ease-in-out infinite;
    -o-animation: KF_tmap-th-marker-rotateX 1.5S ease-in-out infinite;
    animation: KF_tmap-th-marker-rotateX 1.5S ease-in-out infinite;
}

.tmap-th-marker-rotateY {
    -moz-animation: KF_tmap-th-marker-rotateY 1.5S ease-in-out infinite;
    -webkit-animation: KF_tmap-th-marker-rotateY 1.5S ease-in-out infinite;
    -o-animation: KF_tmap-th-marker-rotateY 1.5S ease-in-out infinite;
    animation: KF_tmap-th-marker-rotateY 1.5S ease-in-out infinite;
}

.tmap-th-marker-rotateZ {
    -moz-animation: KF_tmap-th-marker-rotateZ 1.5S ease-in-out infinite;
    -webkit-animation: KF_tmap-th-marker-rotateZ 1.5S ease-in-out infinite;
    -o-animation: KF_tmap-th-marker-rotateZ 1.5S ease-in-out infinite;
    animation: KF_tmap-th-marker-rotateZ 1.5S ease-in-out infinite;
}

.tmap-th-marker-scale {
    -moz-animation: KF_tmap-th-marker-scale 0.8s ease-in-out infinite;
    -webkit-animation: KF_tmap-th-marker-scale 0.8s ease-in-out infinite;
    -o-animation: KF_tmap-th-marker-scale 0.8s ease-in-out infinite;
    animation: KF_tmap-th-marker-scale 0.8s ease-in-out infinite;
}