<div class="video_menu" id="video_menu">
    <ul class="subject_menu" id="subject_menu">
        <li>
            <div class="t_index" binding="{'text':'Binding_Index'}"></div>
            <a class="level1" binding="{'text':'subjectname'}"></a>
            <ul class="sub_menu" binding="{'list':'sub_subject'}">
                <li>
                    <div class="t_index"></div>
                    <a class="level2" binding="{'text':'subjectname'}"></a>
                    <span class="t_allvideo" binding="{'subjectid':'subjectid'}" onclick="$.tv_f.openSubjectVideos(this)" title="打开本组所有视频"></span>
                    <input type="checkbox" class="chk_item" binding="{'value':'subjectid'}" />
                    <p class="chk_item_icon" />
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>
    $(function () {

    })
</script>