<div class="video_list_panel" id="page_panel1" state="0" onclick="toggleVidelList(this)">视频列表</div>
@*<div class="video_list_panel" style="left:10px;top:180px;" id="page_panel2" state="0" onclick="viewreset()">全部视频</div>
<div class="video_list_panel" style="left:10px;top:280px;" id="page_panel3" state="0" onclick="pageclearLinePopup()">页面清理</div>*@
<div class="video_list_panel video_list_panelA2" style="left: 45px; top: 55px; width: 58px; height: 58px;padding:0px;" id="page_panel3" state="1" onclick="changeLayer(this)"></div>
<div class="video_search_panel"><input type="text" id="txtVideoSearchKey" value="" placeholder="输入视频名称查询" /><span onclick="$.tv_f.searchVideoList()"></span></div>
<div class="video_list">
    <ul id="ul_video_list" class="v_list">
        <li binding="{'videolng':'videolng','videolat':'videolat'}">
            <span binding="{'text':'Binding_Index'}"></span><a binding="{'text':'videoname'}"></a>
        </li>
    </ul>
</div>
<div class="video_tool_panel">
    <p class="tool_line" onclick="$.tv_f.searchByDrawLine()" title="检索(画线)"></p>
    <p class="tool_circle" onclick="$.tv_f.searchByDrawCircle()" title="检索(画圆)"></p>
    <p class="tool_rect" onclick="$.tv_f.searchByDrawRect()" title="检索(画矩形)"></p>
</div>
<div style="display:none;" id="div_mapcontextMenu">
    <ul class="video_map_contextmenu">
        <li onclick="$('#page_panel1').click();" >视频列表(显示/隐藏)</li>
        <li onclick="viewreset()">初始化地图</li>
        <li onclick="pageclearLinePopup()">多视频窗口清理</li>
        <li onclick="$.tv_f.searchByDrawLine()">检索(画线)</li>
        <li onclick="$.tv_f.searchByDrawCircle()">检索(画圆)</li>
        <li onclick="$.tv_f.searchByDrawRect()">检索(画矩形)</li>
    </ul>
</div>
<script>

    function toggleVidelList(obj) {
        if ($(obj).attr("state") == "0") {
            $(obj).attr("state", "1")
                .text("收起");
            $("#page_panel1").css({
                "top": "55px",
                "left":"280px"
            })

            $(".video_list").css({
                "left":"0px"
            })

        } else {
            $(obj).attr("state", "0")
                .text("视频列表");
            $("#page_panel1").css({
                "top": "120px",
                "left": "10px"
            })

            $(".video_list").css({
                "left": "-280px"
            })
        }
    }

    function viewreset() {
        $.tv_f.map.resetView();
        $.tv_f.map.clear();
        $("#txtVideoSearchKey").val();
        setTimeout(function () {
            $.tv_f.showAllResultToPage();
        }, 100)
    }


    function pageclearLinePopup() {
        $.tv_f.closeFixdPopup();
        $(".subject_menu .t_allvideo").removeClass("t_allvideo_open");
    }

    function changeLayer(obj) {
        if ($(obj).attr("state") == "0") {
            $(obj).attr("state", "1");
            $(obj).removeClass("video_list_panelA1");
            $(obj).addClass("video_list_panelA2");
            $.tv_f.map.changeTLayer("autonavi");
        } else {
            $(obj).attr("state", "0");
            $(obj).removeClass("video_list_panelA2");
            $(obj).addClass("video_list_panelA1");
            $.tv_f.map.changeTLayer("autonavi_wx");
        }
    }
</script>