
@model Tuhui.Reception.Model.Navigation
@{
    ViewBag.Title = "NavigationAdd";
    ViewBag.MenuKey = "Navigation";
}

<div class="layout-content-head">
    <h2>@ViewBag.TitleName</h2>
</div>
<div style="text-align:left;margin-left:50px;">
    @using (Html.BeginForm("NavigationModify", "ReceptionManager"))
    {
        @Html.HiddenFor(p => p.N_ID)

        <div class="edit-area">
            <div class="edit-lable">导航名称:</div>
            <div class="edit-content">
                @Html.TextBoxFor(p => p.Name, htmlAttributes: new { maxlength = 20 })
            </div>
        </div>
        <div class="edit-area">
            <div class="edit-lable">导航路径:</div>
            <div class="edit-content">
                
            </div>
        </div>        
        <div class="edit-area">
            <div class="edit-lable"></div>
            <div class="edit-content">
                <input style="margin-left: 80px; width: 70px;height: 30px;" type="submit" value="保存" />
                <input type="button" value="返回" style="width: 70px;height: 30px;" onclick="BackTo()" />
            </div>
        </div>
    }

</div>

<script type="text/javascript">

    function BackTo() {
        window.location.href = '@Url.Action("Navigation", "ReceptionManager")';
    }
</script>





