<?xml version="1.0"?>
<connectionStrings>
  <!--<add name="DbReception" connectionString="Data Source=GN38SPZBVCJN3UR\ZHANGCHANG;Initial Catalog=db_Reception;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  <!--<add name="DbLJSport" connectionString="Data Source=(local);Initial Catalog=db_LJSport;Integrated Security=false;uid=sa;pwd=root001" providerName="System.Data.SqlClient"/>-->
  <!--<add name ="DbReception" connectionString="server=www.tuhui.com;database=db_Reception;Trusted_Connection=SSPI"  providerName="System.Data.SqlClient"/>-->
  <add name="DbReception" connectionString="Data Source=192.168.11.51,13341;Initial Catalog=db_Reception;Integrated Security=false;uid=sa;pwd=root001" providerName="System.Data.SqlClient"/>
  <!--<add name="DbReception" connectionString="Data Source=59.201.5.232;Initial Catalog=db_Reception;Integrated Security=false;uid=sa;pwd=Tuhuiinfo123456" providerName="System.Data.SqlClient"/>-->
</connectionStrings>

