<?xml version="1.0"?>
<connectionStrings>
  <add name="DbReception" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=www.tuhuitech.com)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=AQI)));User ID=Tuhui_AQI;Password=tuhui;" providerName="Oracle.DataAccess.Client"/>
</connectionStrings>

