<?xml version="1.0"?>
<GlobalSetting>
  <Site>
    <Debugger>true</Debugger>
    <!--网站ID,可以不填，会默认生成一个-->
    <ID></ID>
    <!--网站名称-->
    <Name>龙江体育馆3D管理系统</Name>
    <!--网站地址(以'/'结尾)-->
    <Url>http://www.tuhui.com/LJSport/</Url>
    <!--错误页面地址(默认是~/home/error)-->
    <ErrorUrl>~/home/error</ErrorUrl>
  </Site>
  <API>
    <Sys>
      <Gymnasium>体育馆相关接口</Gymnasium>
      <Navigation>导航相关接口</Navigation>
      <Poi>标记点相关接口</Poi>
    </Sys>
  </API>
</GlobalSetting>
