
@{
    Layout = null;
}
<html>
<head>
    <title>视频信息</title> `
</head>
<!--onload="OpenCamera()" onunload="manager()"  -->
<body onload="OpenCamera()" onunload="CloseCamera()" style="overflow-y:visible;overflow-x:hidden;margin-left:0px;margin-top: 0px;margin-right 0px;margin-bottom 0px;">
    <div>
        <object classid="clsid:2BE780D3-3360-4BE2-9A40-61027C5C1BD9" id="SINGLEVIDEOOCX" width="100%" height="100%"></object>
    </div>
</body>

<script type="text/javascript" language="javascript">
    function OpenCamera() {
        var url = "@Request["c_id"]";
        setTimeout("SINGLEVIDEOOCX.OpenCamera('"+url+"');",100);
        //setTimeout(function () {
        //    document.getElementById("SINGLEVIDEOOCX").OpenCamera(url);
        //}, 100);
    }

    function CloseCamera(){
        SINGLEVIDEOOCX.CloseCamera();
    }
</script>
</html>


